.animal-photos img{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
	margin:10px;
	max-width:300px;
	 border-radius: 10px;
	 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.animal-photos{
	
}
.photo-heading{
	text-align:center;
}